<!DOCTYPE html>
<html lang="en" ng-app="codecraft">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">List of Things</a>
        </div>
    </div>
</nav>

<div class="container main-content" ng-controller="PersonsCtrl as persons">
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Birthday</th>
        </tr>
        <tr ng-repeat="person in persons" ng-style="{'background-color': $index == selectedIndex ? 'lightgray' : ''}" ng-click="selectPerson($index)">
            <td>{{ $index }}</td>
            <td>{{ person.name }}</td>
            <td>{{ person.email }}</td>
            <td>{{ person.birthdate | date:"longDate"}}</td>
        </tr>
    </table>
    
</div>


<script src="../libs/angular/angular.min.js"></script>
<script src="main.js"></script>
</body>
</html>